spring:
  application:
    name: demo-project
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3307}/${MYSQL_DBNAME:astropay}?allowMultiQueries=true&autoReconnect=true
    username: ${MYSQL_USER:user} #localdocker credentials
    password: ${MYSQL_PASSWORD:password}
    driverClassName: com.mysql.cj.jdbc.Driver
    hikari:
      maxLifeTime: 400000
      minimumIdle: 2
      maximumPoolSize: 20
      idleTimeout: 120000
      connectionTimeout: 300000
      leakDetectionThreshold: ${MYSQL_HIKARI_LEAK_DETECTION_THRESHOLD:300000}
  jpa:
    properties:
      hibernate:
        naming:
          physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        proc:
          param_null_passing: true
        ddl-auto: none
        generate_statistics: false
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: false
  liquibase:
    enabled: true
    drop-first: false
    change-log: classpath:changelog/db.changelog-master.xml

server:
  port: 8080
  servlet:
    context-path: "/astropay"

management:
  server:
    port: 8081
  endpoint:
    health:
      enabled: true
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  endpoints:
    web:
      exposure:
        include: [ health, prometheus ]
      base-path:

logging:
  level:
    root: INFO
    com:
      astropay:
        demo: DEBUG